# Dependencias y Logs
node_modules
**/node_modules
*.log
.npm
.bun

# Ignorar TODO el contenido del frontend...
frontend/*
# ...PERO NO su package.json (Vital para Bun)
!frontend/package.json

# Archivos de desarrollo y Git
.git
.gitignore
.dockerignore
.vscode
.env*
.idea

# Builds y temporales
dist
backend/dist
.next
build
*.tsbuildinfo

# Docker y despliegue
Dockerfile
docker-compose*.yml
captain-definition*
nginx/